# copy to .env
TELEGRAM_BOT_TOKEN=123456789:replace_with_your_bot_token
# TELEGRAM_PROXY_URL=socks5h://user:password@host:1080
TELEGRAM_PROXY_URL=
REQUIRED_CHANNEL=@AmethystSMPChannel
REQUIRED_CHANNEL_URL=https://t.me/AmethystSMPChannel
CHAT_URL=https://t.me/amethystSMP
